<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.O365.Security.Native.ETW" version="4.2.3" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="PeNet" version="2.9.7" targetFramework="net48" />
  <package id="PeNet.Asn1" version="2.0.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="6.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Reflection.Metadata" version="6.0.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Pkcs" version="6.0.0" targetFramework="net48" />
  <package id="Validation" version="2.5.51" targetFramework="net48" />
  <package id="xunit.abstractions" version="2.0.3" targetFramework="net472" />
  <package id="xunit.extensibility.core" version="2.4.1" targetFramework="net472" />
  <package id="xunit.extensibility.execution" version="2.4.1" targetFramework="net472" />
  <package id="Xunit.SkippableFact" version="1.4.13" targetFramework="net472" />
</packages>